<!--
- aggiungere favicon
- rendere obbligatoria la quote e facoltativo l'autore
- sistemare il filtro di ricerca in modo che si possano cercare più parole in una volta
- save random quote
-->

<!----------------------------------------FORM---------------------------------------->

<div id="quotes-container" class="container mt-5">

  <p class="liner" id="title-style"> Add a new quote</p>

  <form *ngIf="quoteModelObj" id="form-container" [formGroup]="formValue">

    <input required formControlName="text" class="form-control" type="text" placeholder="Quote" name="text"
      [(ngModel)]="text">

    <input formControlName="author" class="form-control form-control-sm mt-2" type="text" placeholder="Author"
      name="author" [(ngModel)]="author">

    <div class="col-12 mt-2">
      <button type="button" class="btn btn-dark" (click)="addQuote()">Add Quote</button>
    </div>

  </form>

  <!----------------------------------------SEARCHBAR---------------------------------------->

  <form class="lg mt-5">
    <p class="liner" id="title-style">Search a quote</p>
    <div class="input-group" id="searchbar">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Type for search">
    </div>
  </form>

  <!----------------------------------------TABLE FOR QUOTES---------------------------------------->

  <div class="container" id="table-container">
    <p class="liner" id="title-style">List of my quotes</p>
    <table id="quotes-table" class="table">
      <thead>
        <tr>
          <th id="switch" (click)="sort(key)"><i class="fa-solid fa-sort"></i> Switch the order</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quote of quoteData | filter:searchText | orderBy: key: reverse">
          <td>
            <p id="date">{{ quote.createdAt | date }}</p>
            <p id="text">{{quote.text}}</p>
            <p id="author">- {{quote.author}}</p>
          </td>

          <!----------------------------------------COPY BUTTON---------------------------------------->

          <td>
            <button id="btn-copy" type="button" class="btn btn-dark mt-5" cdkCopyToClipboard="{{quote.text}}
(Author {{quote.author}})" (cdkCopyToClipboardCopied)="onClipboardCopy($event)"><i
                class="fa-regular fa-copy"></i></button>
          </td>

          <!----------------------------------------EDIT BUTTON---------------------------------------->

          <td>
            <button id="btn-edit" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-dark mt-5"><i class="fa-solid fa-pen-to-square"></i></button>
          </td>

          <!----------------------------------------DELETE BUTTON---------------------------------------->

          <td>
            <button id="btn-delete" type="button" class="btn btn-dark mt-5" (click)="deleteQuote(quote)"><i
                class="fa-solid fa-trash"></i></button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit quote</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form *ngIf="quoteModelObj" id="form-container" [formGroup]="formValue">
            <input required formControlName="text" class="form-control" type="text" placeholder="Quote" name="text"
              [(ngModel)]="text">

            <input formControlName="author" class="form-control form-control-sm mt-2" type="text" placeholder="Author"
              name="author" [(ngModel)]="author">

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>